@if (registroActual$ | async; as registroActual) {
  <div class="row">
    <div class="col-12">
        <h3 class="mb-0">Registro Patronal Activo</h3>
        <hr class="red">
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card shadow-sm mb-4 border-0">
        <div class="card-body p-4">
          <p class="text-muted mb-1">Número de Registro Patronal (NRP)</p>
          <h4 class="fw-light">{{ registroActual.registroPatronal }}</h4>
        
          <p class="text-muted mb-1">Razón Social</p> 
          <h4 class="fw-light">{{ registroActual.nombre }}</h4>

  
        </div>
      </div>
    </div>
  </div>
}
